.et-devtool-clipboard-item-type {
  &.et-devtool-clipboard-item-type--module {
    background-color: black;
  }
}

.et-devtool-clipboard-item-index{
  background-color: black;
}

.et-vb-builder-bar-wrap{
  background-color: green;
}
